{% extends "base.html" %}

{% block conteudo %}
<div class="row justify-content-center">
    <div class="col-md-4">

        <div class="card shadow-sm mt-5">
            <div class="card-body p-4">

                <h4 class="card-title text-center mb-4">💰 FinControl</h4>

                {% if erro %}
                <div class="alert alert-danger">{{ erro }}</div>
                {% endif %}

                <form method="POST" action="{{ url_for('login') }}">
                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        <input type="email" name="email" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Senha</label>
                        <input type="password" name="senha" class="form-control" required>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Entrar</button>
                </form>

                <hr>
                <p class="text-center mb-0">
                    Não tem conta? 
                    <a href="{{ url_for('cadastro') }}">Cadastre-se</a>
                </p>

            </div>
        </div>

    </div>
</div>
{% endblock %}